.anonyFunctionDiv {
  text-align: center;
}

.anonyFunctionDiv > button {
  /* margin: 0 auto; */
  /* display: block; */
  color: black;
  text-align: center;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  padding: 10px 30px;
  border: 2px solid #4caf50;
  margin: 5px;
}

.anonyFunctionDiv > button:hover {
  background-color: #4caf50;
  color: white;
}
